[submodule "all_borad/borchs/30_Day-MakeOS"]
	path = all_borad/borchs/30_Day-MakeOS
	url = git@github.com:Banner13/30_Day-MakeOS.git
[submodule "time_stream/linux_tools/yocto/poky/bitbake_user_manual"]
	path = time_stream/linux_tools/yocto/poky/bitbake_user_manual
	url = git@github.com:Banner13/Bitbake_User_Manual-CH-.git
[submodule "time_stream/other/english"]
	path = time_stream/other/english
	url = git@github.com:Banner13/english.git
[submodule "time_stream/coding"]
	path = time_stream/coding
	url = git@github.com:Banner13/code.git
[submodule "time_stream/protocols"]
	path = time_stream/protocols
	url = git@github.com:Banner13/protocol.git
